/* Contenedor principal */
.clientes-container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Títulos */
  h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  /* Formulario */
  .form-container {
    margin-bottom: 30px;
  }

  form {
    margin-top: 20px;
  }

  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .form-group label {
    width: 150px; /* Ancho de la etiqueta */
    margin-right: 10px; /* Espacio entre la etiqueta y el input */
    font-weight: bold;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
 .form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
  
.form-actions button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-actions button[type="button"] {
    background-color: #f44336;
  }
  
  .form-actions button[type="button"]:hover {
    background-color: #d32f2f;
  }
  
  .form-actions button:hover {
    background-color: #0056b3;
  }
  
  /* Contenedor de búsqueda */
  .search-container {
    margin-bottom: 20px;
  }
  
  .search-container input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Lista de clientes */
  .clients-list {
    margin-top: 30px;
  }
  
  .clients-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .client-item {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .client-item .client-details {
    font-size: 16px;
  }
  
  .client-item .client-actions button {
    padding: 6px 12px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
  
  .client-item .client-actions button:hover {
    background-color: #e64a19;
  }
  
  /* Paginación */
  .pagination-controls {
    text-align: center;
    margin-top: 20px;
  }
  
  .pagination-controls button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .pagination-controls button:hover {
    background-color: #45a049;
  }
  
  .pagination-controls button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  